header {
    background-color: whitesmoke;
}

/* per l'immagine */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

hr {
    height: 2px;
    background-color: goldenrod;
    border: none;
}