header, main, footer {
    width: 60%;
    margin: 0 auto;
}

/* HEADER START */
header {
    background-color: whitesmoke;
    text-align: center;
}
#profile-pic {
    width: 200px;
}
hr {
    height: 2px;
    background-color: goldenrod;
    border: none;
}
/* HEADER END */

/* MAIN START */
main {
    box-sizing: border-box;
    padding: 0 1em;
}
h2 {
    color: goldenrod;
}
h3 {
    font-style: italic;
}
/* MAIN END */

/* FOOTER START */
footer {
    text-align: center;  
}
/* FOOTER END */