/*struttura base*/
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gold;
    background-image: url(img/cute-halloween-seamless-background_6997-2266.jpg);
}
header {
    background-color: indigo;
    text-align: center;
}
form {
    background-color: indigo;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    border-radius: 2em;
    padding: 1.5em 3em 3em 3em;
    outline: 5px dashed indigo;
}
footer {
    background-color: indigo;
    text-align: center;
}

/*testo*/
h1{
    font-size: 3em;
}
h2, h3 {
    color: orangered;
}
a {
    color: orange;
}
.bottom-padding {
    padding-bottom: 1em;
}
.no-padding {
    padding: 0em;
}
span {
    color: orangered;
}
#mandatory {
    font-size: x-small;
}

/*extra*/
hr {
    height: 5px;
    background-color: orangered;
    border: none;
}
.sx {
    float: left;
}
.dx {
    float: right;
}
